<main class="container-fluid">
  <div class="row">
    <section class="col-6">
      <div class="wrapper">
        <div>
          <i class="fa fa-search fa-2x"></i>
          <p>Follow your interests</p>
        </div>
        <div>
          <i class="fa fa-clock-o fa-2x"></i>
          <p>Choose your future</p>
        </div>
        <div>
          <i class="fa fa-comments fa-2x"></i>
          <p>Join The conversation</p>
        </div>

      </div>

    </section>
    <section class="col-4 offset-1">
      <div class="wrapper">
        <p>Don't be left out,
          <br>choose your future now</p>

        <div class="login-wrapper">
          <p class="mb-0">Join us today</p>
          <a class="register-btn" routerLink="/register" routerLinkActive="active">Register</a>
          <a routerLink="/login" routerLinkActive="active" class="login-btn">Log in</a>
        </div>
      </div>
    </section>
  </div>
</main>
<footer class="container-fluid">
  <p>&copy;2018</p>
</footer>
